<?xml version="1.0"?>

<!-- rover_arm_position_control.launch

Send commands to dynamixel Servos of a 5 DOF arm.

Arguments:
  namespace (string, default: arm)
    arm namespace.
-->

<launch>
  <!-- Rover Arm -->
  <arg name="namespace" default="arm"/>

  <!-- Dynamixel Parameters -->
  <arg name="id" default="1"/>
  <arg name="device_name" default="/dev/ttyUSB0"/>
  <arg name="baud_rate" default="3000000"/>
  <arg name="latency_timer" default="1"/>
  <arg name="scan_range" default="10"/>

  <arg name="profile_velocity" default="75"/>
  <arg name="profile_acceleration" default="75"/>


  <param name="device_name"              value="$(arg device_name)"/>
  <param name="baud_rate"                value="$(arg baud_rate)"/>
  <param name="latency_timer"            value="$(arg latency_timer)"/>

  <param name="scan_range"               value="$(arg scan_range)"/>

  <node name="rover_arm_control" pkg="rover_arm_dynamixel_control" type="rover_arm_move.py" required="true" output="screen"
        ns="$(arg namespace)"/>
</launch>
