<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="r_link_00_name" value="chassis_footprint"/>
    <xacro:property name="r_link_01_name" value="chassis_link"/>
    <xacro:property name="r_link_02_name" value="inverter_link"/>

    <!-- Color parameters -->
    <material name="Black">
        <color rgba="${0.0/255} ${0.0/255} ${0.0/255} ${255/255}"/>
    </material>

    <material name="Red">
        <color rgba="${204/255} ${0.0/255} ${0.0/255} ${255/255}"/>
    </material>

    <material name="White">
        <color rgba="${255/255} ${255/255} ${255/255} ${255/255}"/>
    </material>

    <material name="Blue">
        <color rgba="${0.0/255} ${0.0/255} ${204/255} ${255/255}"/>
    </material>

    <material name="Green">
        <color rgba="${0.0/255} ${204/255} ${0.0/255} ${255/255}"/>
    </material>

    <!-- All the units are in m-kg-s-radians unit system -->
    <xacro:property name="M_PI" value="3.141592653"/>
    <xacro:property name="DEG_TO_RAD" value="0.017453293"/>

    <!-- Chassis dimensions -->
    <xacro:property name="chassis_length" value="1.016"/>
    <xacro:property name="chassis_width" value="0.6096"/>
    <xacro:property name="chassis_height" value="0.4445"/>
    <xacro:property name="chassis_mass" value="5"/> <!-- in Kg -->

    <!-- Inverter dimensions -->
    <xacro:property name="inverter_length" value="0.400"/>
    <xacro:property name="inverter_width" value="0.2353"/>
    <xacro:property name="inverter_height" value="0.400"/>
    <xacro:property name="inverter_mass" value="5"/> <!-- in Kg -->

    <!-- Wheels -->
    <xacro:property name="wheel_radius" value="0.178"/>
    <xacro:property name="wheel_height" value="0.114"/>
    <xacro:property name="wheel_mass" value="1.0"/> <!-- in Kg -->

    <xacro:property name="base_x_origin_to_wheel_origin" value="0.413"/>
    <xacro:property name="base_y_origin_to_wheel_origin" value="0.430"/>
    <xacro:property name="base_z_origin_to_wheel_origin" value="0.339"/>

    <xacro:macro name="cylinder_inertia" params="m r h">
        <intertia ixx="${m*(3*r*r+h*h)/12}" ixy="0.0" ixz="0.0"
                  iyy="${m*(3*r*r+h*h)/12}" iyz="0.0"
                  izz="${m*r*r/2}"/>
    </xacro:macro>
</robot>
