<?xml version="1.0"?>
<robot name="rover_with_arm" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Begin - Include -->
  <xacro:include filename="$(find rover_desc_pkg)/urdf/rover_robot.xacro"/>
  <xacro:include filename="$(find rover_arm_desc_pkg)/urdf/rover_arm.xacro"/>
  <!-- End - Include -->

  <!-- <link name="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <box size="0.0001 0.0001 0.0001" />
    </geometry>
  </link>

  <joint name="world_chassis_joint" type="fixed">
      <parent link="world"/>
      <child link = "chassis_footprint"/>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>

  <joint name="chassis_arm_joint" type="fixed">
      <parent link="chassis_footprint"/>
      <child link="arm_footprint"/>
      <origin xyz="0.0 0.0 0..0" rpy="0.0 0.0 0.0"/>
  </joint> -->

  <!-- Using the models -->
  <xacro:rover_robot name="rover">
    <origin xyz="0.0 0.0 0..0" rpy="0.0 0.0 0.0"/>
  </xacro:rover_robot>

  <xacro:rover_arm name="arm">
    <origin xyz="0.0 0.0 0..0" rpy="0.0 0.0 0.0"/>
  </xacro:rover_arm>
</robot>
